body {
  font: 34px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 50px;
}

.board-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.status {
  margin-bottom: 10px;
  
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
    flex-direction: column-reverse;
    align-content: space-around;
    align-items: center;
}

.game-info {
  margin-bottom: 20px;
  text-align: center;
}

.to{
  text-decoration: none;
  padding: 1px 2px;
  color: linear-gradient(to right, #30CFD0 0%, #330867 100%)linear-gradient(to right, #30CFD0 0%, #330867 100%);
  font-size: 18px;
}

.is-x{
  background: rgb(107, 228, 242) !important;
  color: #ff6651 !important;
}

.is-o{
  background: rgb(254, 87, 87) !important;
  color: #2cccff !important;
}
.btn{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn-rs{
  padding: 10px 50px;
  border: none;
  background: rgb(32, 245, 92);
  box-shadow: 5px 5px 5px #666;
  border-radius: 5px;
  color: white;
}